.modal_container {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-columns: auto 460px;

  .comments_list {
    display: grid;
    overflow-y: auto;
    grid-template-rows: max-content auto max-content;

    &::-webkit-scrollbar {
      width: 0;
    }

    .post_header {
      display: grid;
      align-items: center;
      grid-template-columns: auto max-content;
      padding: 8px 20px;
      gap: 10px;
      min-height: 56px;
      position: sticky;
      top: 0;
      z-index: 9;
      border-bottom: 1px solid var(--border-color);
      background: #ffffff;

      .user_info {
        height: auto;
        display: flex;
        align-items: center;
        gap: 12px;

        .post_del_close {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .user_icon {
          aspect-ratio: 1;
          object-fit: cover;
          background-size: cover;
          border-radius: 50px;
          width: 32px;
        }

        .user_controller {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          img {
            scale: 1;
            transition: 0.2s;

            &:hover {
              scale: 1.08;
            }

            &:active {
              scale: 0.98;
            }
          }

          .user_fullname {
            color: var(--color-text);
            display: flex;
            text-transform: capitalize;
            gap: 6px;
          }
        }
      }
    }

    .comments {
      padding: 20px;

      .content {
        margin-bottom: 30px;
        padding: 10px 20px;
        background: var(--lightGray-basc);
        border-radius: var(--radius-default);
      }

      li {
        display: grid;
        grid-template-columns: auto max-content;
        gap: 10px;

        .comment_container {
          display: grid;
          grid-template-columns: max-content auto;
          margin-bottom: 20px;
          gap: 12px;

          .user_icon {
            aspect-ratio: 1;
            object-fit: cover;
            background-size: cover;
            border-radius: 50px;
            width: 32px;
          }

          .comment {
            display: grid;
            gap: 2px;

            .user_fullname {
              color: var(--color-text);
              display: flex;
              text-transform: capitalize;
              gap: 6px;
            }

            .comment_content {
              display: grid;
              grid-template-rows: max-content max-content;
              gap: 2px;

              p {
                color: var(--desc-color);
                line-break: anywhere;
              }

              time {
                color: var(--color-text);
                font-size: 12px;
              }
            }
          }
        }

        .comment_controllers {
          display: flex;
          flex-direction: column;
          gap: 4px;

          button {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4px;
          }
        }
      }
    }

    .controller_container {
      position: sticky;
      bottom: 0;
      z-index: 1;

      .manipulation {
        border-top: 1px solid var(--border-color);
        background-color: #ffffff;
        padding: 16px 20px;
        display: grid;
        gap: 10px;

        .post_buttons {
          display: flex;
          justify-content: space-between;

          .left_buttons {
            display: flex;
            gap: 10px;
          }

          .heart_button,
          .comment_button,
          .save_button {
            cursor: pointer;
            transition: 0.2s;

            &.heart_button:hover {
              scale: 1.2;
            }
            &.heart_button:active {
              scale: 0.8;
            }
          }
        }

        time {
          font-size: 12px;
          color: #737373;
        }
      }
      .controller {
        display: grid;
        align-items: center;
        grid-template-columns: auto max-content;
        border-top: 1px solid var(--border-color);
        background-color: #ffffff;
        padding: 8px 20px;
        gap: 12px;

        textarea {
          border: none;
          outline: none;
          resize: none;
          height: auto;
          max-height: 120px;
        }

        .button_container {
          display: flex;
          align-items: flex-end;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1156px) {
  .modal_container {
    grid-template-columns: auto 380px;
  }
}

@media (max-width: 900px) {
  .modal_container {
    grid-template-columns: auto 320px;
  }
}

@media (max-width: 769px) {
  .modal_container {
    grid-template-columns: 1fr;

    .comments_list {
      overflow-y: auto;
      grid-template-rows: max-content 500px auto max-content;

      .user_info {
        z-index: 999;
      }
    }
  }
}
