.error_container {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  .error_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 20px;

    .error_title {
      font-size: 36px;
      font-weight: 600;
      color: #0088ff;
    }

    p {
      color: #71717a;
      line-height: 1.4;

      a {
        color: #0088ff;
        font-weight: 500;
      }
    }
  }
}
