.container {
  display: grid;
  grid-template-columns: max-content auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: minmax(100svh, auto) max-content;
  }
}
